*.tfstate
*.tfstate.*
*.log
*.tfvars
*.tfplan
.terraformrc
terraform.rc
.terraform/
terraform-provider-*
**/.terraform/*
terraform/builds/*
terraform/.terraform.lock.hcl
scripts/scripts/lambda/api-caller/src/api_caller/app.py